:root {
  --mdc-theme-accent: #e74c3c;
  --mdc-theme-title-dark: #6a6a6a;
  --mdc-theme-title-light: #fff;
  --mdc-default-color: #999;
  --mdc-section-padding: 140px;
}

.separator-figure.separator-figure--color-gray {
  &::before,
  &::after {
    background-color: var(--mdc-default-color);
  }
}

.subtitle.subtitle--color-grey {
  color: var(--mdc-default-color);
}

.subtitle.subtitle--color-white {
  color: #fff;
}
