/*
logo
====================
*/
.logo-link {
  display: block;
  height: 38px;
}

.logo-img {
  display: block;
  background: url('../../img/logo/logo.png') no-repeat center/contain;
  width: 100px;
  height: 100%;
}
